<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Bucket page</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<h2>Ваша корзина</h2>
<h3>Загальна сума -> <b th:text="${bucket.sum}">1000</b></h3>


<table border="1" align="centre">
    <tr>
        <td>Назва товару</td>
        <td>Кількість</td>
        <td>Ціна</td>
        <td>Сума</td>
        <td></td>
    </tr>
    <tr th:each="detail : ${bucket.bucketDetails}">
        <td th:text="${detail.title}">сир</td>
        <td th:text="${detail.amount}">2</td>
        <td th:text="${detail.price}">11</td>
        <td th:text="${detail.sum}">22</td>
        <td><a href="#">Видалити</a></td>
    </tr>
</table>

</body>
</html>