<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
  <title>Екохім</title>
  <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
          crossorigin="anonymous"
  />

  <link rel="manifest" href="/site.webmanifest" />
</head>

<body class="bg-body-tertiary">
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<div class="container text-center">
  <img th:src="@{/images/header.jpg}" class="img-fluid" />
</div>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/about}"> Про нас </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" th:href="@{/products}"> Усі товари </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" th:href="@{/contacts}"> Контакти </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/conditions}"> Оферта </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div th:text="${currency}" class="row"></div>
  <div class="row">
    <div>
      <p>ТОВ "Екохім Розвиток"</p>
      <p>+380 (95) 791-34-29</p>
      <p>Продажі</p>
      <p>+380 (44) 334-59-40</p>
      <p>Офіс</p>
      <p>Дмитро</p>
      <p>02092, вул. Алматинська, 8, оф 103, Київ, Україна</p>
      <p>office@e-chem.com.ua</p>
      <p>+380 (95) 791 34 29</p>
      <p>+380 (95) 791 34 29</p>
    </div>
    <div class="col-sm-9">
      <div class="container text-right">
        <h3>Договір публічної оферти</h3>
        <h4>Загальні положення</h4>
        <p>
          1.1. Справжня оферта, є офіційною пропозицією ТОВ "Екохім
          Розвиток", далі за текстом - «Продавець», укласти Договір
          купівлі-продажу товарів дистанційним способом, тобто через
          Інтернет-магазин, далі по тексту - «Договір», і розміщує
          Публічну оферту (пропозицію ) на офіційному інтернет-сайті
          Продавця «https://e-chem.com.ua (далі -« Інтернет-сайт »).
        </p>
        <p>
          1.2. Моментом повного і безумовного прийняття Покупцем
          пропозиції Продавця (акцептом) укласти електронний договір
          купівлі-продажу товарів, вважається факт оплати Покупцем
          замовлення на умовах цього Договору, у строки та за цінами,
          вказаними на Інтернет-сайті Продавця.
        </p>
        <h4>Поняття і визначення</h4>
        <p>
          2.1. У цій оферті, якщо контекст не вимагає іншого, наведені
          нижче терміни мають таке значення:
        </p>
        <p>
          * «Товар» - моделі, аксесуари, комплектуючі та супровідні
          предмети;
        </p>
        <p>
          * «Інтернет-магазин» - відповідно до Закону України «про
          електронну комерцію», засіб для подання або реалізації товару,
          роботи або послуги шляхом здійснення електронної угоди.
        </p>
        <p>
          * «Продавець» - компанія, яка реалізує товари, представлені на
          Інтернет-сайті.
        </p>
        <p>
          * «Покупець» - фізична особа, що уклала з Продавцем Договір на
          умовах, викладених нижче.
        </p>
        <p>
          * «Замовлення» - вибір окремих позицій з переліку товарів,
          зазначених Покупцем при розміщенні замовлення і проведенні
          оплати.
        </p>
        <h4>Предмет договору</h4>
        <p>
          3.1. Продавець зобов'язується передати у власність Покупця
          Товар, а Покупець зобов'язується оплатити і прийняти Товар на
          умовах даного Договору.
        </p>
        <p>
          Цей Договір регулює купівлю-продаж товарів в
          Інтернет-магазині, в тому числі:
        </p>
        <p>
          - добровільний вибір Покупцем товарів в Інтернет-магазині;
        </p>
        <p>
          - самостійне оформлення Покупцем замовлення в
          Інтернет-магазині;
        </p>
        <p>
          - оплата Покупцем замовлення, оформленого в Інтернет-магазині;
        </p>
        <p>
          - обробка і доставка замовлення Покупцеві у власність на
          умовах цього Договору.
        </p>
        <h4>Порядок оформлення замовлення</h4>
        <p>
          4.1. Покупець має право оформити замовлення на будь-який
          товар, представлений на Сайті Інтернет-магазину і наявний.
        </p>
        <p>
          4.2. Кожна позиція може бути представлена в замовленні в
          будь-якій кількості.
        </p>
        <p>
          4.3. При відсутності товару на складі, Менеджер компанії
          зобов'язаний поставити Покупця до відома (по телефону або
          через електронну пошту).
        </p>
        <p>
          4.4. При відсутності товару Покупець має право замінити його
          товаром аналогічної моделі, відмовитися від даного товару,
          анулювати замовлення.
        </p>
        <h4>Порядок оплати замовлення післяплатою</h4>
        <p>
          5.1. Оплата здійснюється за фактом отримання товару у
          відділенні транспортних компанії за готівковий розрахунок в
          гривнях.
        </p>
        <p>
          5.2. Прі не надходження коштів Інтернет-магазин залишає за
          собою право анулювати замовлення.
        </p>
        <h4>Умови доставки замовлення</h4>
        <p>
          6.1. Доставка товарів, придбаних в Інтернет-магазині,
          здійснюється до складів транспортних компаній, де і
          здійснюється видача замовлень.
        </p>
        <p>
          6.2. Разом із замовленням Покупцеві надаються документи згідно
          законодавства України.
        </p>
        <h4>Права та обов'язки сторін:</h4>
        <p>7.1. Продавець має право:</p>
        <p>
          - в односторонньому порядку припинити надання послуг за цим
          договором у разі порушення Покупцем умов цього договору.
        </p>
        <p>7.2. Покупець зобов'язаний:</p>
        <p>
          - своєчасно оплатити та отримати замовлення на умовах цього
          договору.
        </p>
        <p>7.3. Покупець має право:</p>
        <p>- оформити замовлення в Інтернет-магазині;</p>
        <p>- оформити електронний договір;</p>
        <p>- вимагати від Продавця виконання умов цього Договору.</p>
        <h4>Відповідальність сторін</h4>
        <p>
          8.1. Сторони несуть відповідальність за невиконання або
          неналежне виконання умов цього договору в порядку,
          передбаченому цим договором та чинним законодавством України.
        </p>
        <p>8.2. Продавець не несе відповідальності за:</p>
        <p>- змінений виробником зовнішній вигляд Товару;</p>
        <p>
          - за незначне невідповідність колірної гами товару, що може
          відрізнятися від оригіналу товару виключно через різній
          колірній передачі моніторів персональних комп'ютерів окремих
          моделей;
        </p>
        <p>
          - за зміст і правдивість інформації, наданої Покупцем при
          оформленні замовлення;
        </p>
        <p>
          - за затримку і перебої в наданні Послуг (обробки замовлення
          та доставки товару), які відбуваються з причин, що знаходяться
          поза сферою його контролю;
        </p>
        <p>
          - за протиправні незаконні дії, здійснені Покупцем за
          допомогою даного доступу до мережі Інтернет;
        </p>
        <p>
          - за передачу Покупцем своїх мережевих ідентифікаторів - IP,
          MAC-адреси, логіна і пароля третім особам;
        </p>
        <p>
          8.3. Покупець, використовуючи наданий йому доступ до мережі
          Інтернет, самостійно несе відповідальність за шкоду, заподіяну
          його діями (особисто, навіть якщо під його логіном знаходилося
          іншу особу) особам або їх майну, юридичним особам, державі чи
          моральним принципам моральності.
        </p>
        <p>
          8.4. У разі настання обставин непереборної сили, сторони
          звільняються від виконання умов цього договору. Під
          обставинами непереборної сили для цілей цього договору
          розуміються події, що мають надзвичайний, непередбачений
          характер, які виключають або об'єктивно
        </p>
      </div>
    </div>
  </div>
</div>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"
></script>
</body>
</html>
