<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
  <title>Екохім</title>
  <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
          crossorigin="anonymous"
  />

  <link rel="manifest" href="/site.webmanifest" />
</head>

<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<div class="container text-center">
  <img th:src="@{/images/header.jpg}" class="img-fluid" />
</div>
<div class="container">
  <div th:text="${currency}" class="row"></div>
  <div class="row">
    <div class="col-sm-3">
      <p>ТОВ "Екохім Розвиток"</p>
      <p>+380 (95) 791-34-29</p>
      <p>Продажі</p>
      <p>+380 (44) 334-59-40</p>
      <p>Офіс</p>
      <p>Дмитро</p>
      <p>02092, вул. Алматинська, 8, оф 103, Київ, Україна</p>
      <p>office@e-chem.com.ua</p>
      <p>+380 (95) 791 34 29</p>
      <p>+380 (95) 791 34 29</p>
    </div>
    <div class="col-sm-9">
      <div class="row">
          <form th:action="@{/users/profile}" th:object="${user}" method="post">
            <table>
              <tr>
                <td>Name</td>
                <td><input type="text" th:field="*{username}" /></td>
              </tr>
              <tr>
                <td>Password</td>
                <td><input type="password" th:field="*{password}" /></td>
              </tr>
              <tr>
                <td>Matching Password</td>
                <td>
                  <input type="password" th:field="*{matchingPassword}" />
                </td>
              </tr>
              <tr>
                <td>Email</td>
                <td><input type="email" th:field="*{email}" /></td>
              </tr>
            </table>
            <button type="submit">Save new User</button>
          </form>
        <p th:if="!passMatch">Введені паролі не співпадають</p>
        <p th:if="haveChanged">Дані профілю оновлено</p>
      </div>
    </div>
  </div>
</div>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"
></script>
</body>
</html>


