<!DOCTYPE html>
<html
  lang="uk"
  xmlns:th="http://www.w3.org/1999/xhtml"
  xmlns:sec="http://www.w3.org/1999/xhtml"
>
  <head>
    <meta charset="UTF-8" />
    <title>Add user</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/images/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/favicon-16x16.png"
    />
    <link rel="manifest" href="/site.webmanifest" />
  </head>
  <body>
    <div th:insert="~{fragments/menu :: #nav-menu}"></div>
    <div class="container">
      <img th:src="@{/images/header.jpg}" />
      <div>
        <div>
          <h1>Слава Україні!</h1>
        </div>
        <div>
          Любіть Україну у сні й наяву, вишневу свою Україну, красу її вічно
          живу і нову і мову її солов'їну.
          <p>В. Сосюра</p>
        </div>
      </div>
      <div class="container text-center">
        <div class="row">
          <div class="col-sm-3">
            <p>ТОВ "Екохім Розвиток"</p>
            <p>+380 (95) 791-34-29</p>
            <p>Продажі</p>
            <p>+380 (44) 334-59-40</p>
            <p>Офіс</p>
            <p>Дмитро</p>
            <p>02092, вул. Алматинська, 8, оф 103, Київ, Україна</p>
            <p>office@e-chem.com.ua</p>
            <p>+380 (95) 791 34 29</p>
            <p>+380 (95) 791 34 29</p>
          </div>
          <div class="col-sm-9">
            <div class="row">
              <form th:action="@{/users/new}" th:object="${user}" method="post">
                <table>
                  <tr>
                    <td>Name</td>
                    <td><input type="text" th:field="*{username}" /></td>
                  </tr>
                  <tr>
                    <td>Password</td>
                    <td><input type="password" th:field="*{password}" /></td>
                  </tr>
                  <tr>
                    <td>Matching Password</td>
                    <td>
                      <input type="password" th:field="*{matchingPassword}" />
                    </td>
                  </tr>
                  <tr>
                    <td>Email</td>
                    <td><input type="email" th:field="*{email}" /></td>
                  </tr>
                </table>
                <button type="submit">Save new User</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
