<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
  <title>Екохім</title>
  <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
          crossorigin="anonymous"
  />

  <link rel="manifest" href="/site.webmanifest" />
</head>

<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<div class="container text-center">
  <img th:src="@{/images/header.jpg}" class="img-fluid" />
</div>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" th:href="@{/about}"> Про нас </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" th:href="@{/products}"> Усі товари </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" th:href="@{/contacts}"> Контакти </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" th:href="@{/conditions}"> Оферта </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div th:text="${currency}" class="row"></div>
  <div class="row">
    <div class="col-sm-3">
      <p>ТОВ "Екохім Розвиток"</p>
      <p>+380 (95) 791-34-29</p>
      <p>Продажі</p>
      <p>+380 (44) 334-59-40</p>
      <p>Офіс</p>
      <p>Дмитро</p>
      <p>02092, вул. Алматинська, 8, оф 103, Київ, Україна</p>
      <p>office@e-chem.com.ua</p>
      <p>+380 (95) 791 34 29</p>
      <p>+380 (95) 791 34 29</p>
    </div>
    <div class="col-sm-9">
      ERRRRRRRRRRRROR
      <div th:text="${errorMessage}">text</div>
    </div>
  </div>
</div>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"
></script>
</body>
</html>
